@font-face {
  font-family: "jxdGodAxe"; /* Project id 1717866 */
  src: url('iconfont.woff2?t=1657530655198') format('woff2'),
       url('iconfont.woff?t=1657530655198') format('woff'),
       url('iconfont.ttf?t=1657530655198') format('truetype');
}

.jxdGodAxe {
  font-family: "jxdGodAxe" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jxd-default-img:before {
  content: "\e646";
}

.jxd-plus:before {
  content: "\e615";
}

.jxd-tubiaozhizuomoban_jiahao:before {
  content: "\e68d";
}

.jxd-tubiaozhizuomoban_gongzuoliu2:before {
  content: "\e68f";
}

.jxd-blue-tip:before {
  content: "\e878";
}

.jxd-topics-picker-move:before {
  content: "\e877";
}

.jxd-oscar:before {
  content: "\e65f";
}

.jxd-SQLServer:before {
  content: "\e660";
}

.jxd-jiantou:before {
  content: "\e875";
}

.jxd-zhushi:before {
  content: "\e876";
}

.jxd-export:before {
  content: "\e607";
}

.jxd-square-add:before {
  content: "\e632";
}

.jxd-see-no:before {
  content: "\e633";
}

.jxd-see-yes:before {
  content: "\e634";
}

.jxd-locked-no:before {
  content: "\e635";
}

.jxd-locked-yes:before {
  content: "\e636";
}

.jxd-arrow-up:before {
  content: "\e637";
}

.jxd-arrow-down:before {
  content: "\e638";
}

.jxd-3D-show:before {
  content: "\e639";
}

.jxd-create-list:before {
  content: "\e63a";
}

.jxd-create-blank:before {
  content: "\e63b";
}

.jxd-create-form:before {
  content: "\e63c";
}

.jxd-welcome-style:before {
  content: "\e63d";
}

.jxd-back:before {
  content: "\e63e";
}

.jxd-refresh-right:before {
  content: "\e63f";
}

.jxd-step-one:before {
  content: "\e640";
}

.jxd-step-two:before {
  content: "\e641";
}

.jxd-create-module:before {
  content: "\e642";
}

.jxd-create-workflow:before {
  content: "\e643";
}

.jxd-list-btn:before {
  content: "\e644";
}

.jxd-help:before {
  content: "\e645";
}

.jxd-add-rectangle:before {
  content: "\e65a";
}

.jxd-permission-set:before {
  content: "\e65b";
}

.jxd-page-select:before {
  content: "\e65c";
}

.jxd-square-cancel:before {
  content: "\e65d";
}

.jxd-entrust:before {
  content: "\e611";
}

.jxd-hnupload:before {
  content: "\e600";
}

.jxd-check-and-understand:before {
  content: "\e61a";
}

.jxd-save1:before {
  content: "\e863";
}

.jxd-xiaoyan:before {
  content: "\e605";
}

.jxd-status-default:before {
  content: "\e882";
}

.jxd-full-screen:before {
  content: "\e87b";
}

.jxd-full-screen-hover:before {
  content: "\e87c";
}

.jxd-add-circle:before {
  content: "\e856";
}

.jxd-sign-bottom:before {
  content: "\e855";
}

.jxd-sign-top:before {
  content: "\e859";
}

.jxd-next-folder:before {
  content: "\e857";
}

.jxd-before-folder:before {
  content: "\e858";
}

.jxd-reduce-circle:before {
  content: "\e85a";
}

.jxd-reduce-circle-hover:before {
  content: "\e87d";
}

.jxd-dialog-close-hover:before {
  content: "\e85b";
}

.jxd-dialog-close:before {
  content: "\e853";
}

.jxd-mysql:before {
  content: "\e84e";
}

.jxd-dm:before {
  content: "\e84f";
}

.jxd-oracle:before {
  content: "\e850";
}

.jxd-api:before {
  content: "\e851";
}

.jxd-default-text:before {
  content: "\e852";
}

.jxd-position-top-left:before {
  content: "\e83b";
}

.jxd-position-top-right:before {
  content: "\e83d";
}

.jxd-MicroApp:before {
  content: "\e83c";
}

.jxd-float-center:before {
  content: "\e839";
}

.jxd-float-top:before {
  content: "\e83a";
}

.jxd-float-right:before {
  content: "\e837";
}

.jxd-float-left:before {
  content: "\e838";
}

.jxd-font-no-color:before {
  content: "\e831";
}

.jxd-border-single:before {
  content: "\e832";
}

.jxd-border-all:before {
  content: "\e833";
}

.jxd-no-config:before {
  content: "\e82d";
}

.jxd-ionic-time:before {
  content: "\e82e";
}

.jxd-ionic-head-logo:before {
  content: "\e82f";
}

.jxd-list:before {
  content: "\e830";
}

.jxd-condition-brackets:before {
  content: "\e827";
}

.jxd-condition-add:before {
  content: "\e828";
}

.jxd-condition-del:before {
  content: "\e829";
}

.jxd-condition-brackets-active:before {
  content: "\e82a";
}

.jxd-condition-add-active:before {
  content: "\e82b";
}

.jxd-condition-del-active:before {
  content: "\e82c";
}

.jxd-mobile:before {
  content: "\e825";
}

.jxd-save:before {
  content: "\e823";
}

.jxd-side-dataModal:before {
  content: "\e824";
}

.jxd-tack:before {
  content: "\e818";
}

.jxd-left-padding:before {
  content: "\e81f";
}

.jxd-right-padding:before {
  content: "\e820";
}

.jxd-top-padding:before {
  content: "\e821";
}

.jxd-bottom-padding:before {
  content: "\e822";
}

.jxd-fold:before {
  content: "\e81d";
}

.jxd-null:before {
  content: "\e81c";
}

.jxd-edit:before {
  content: "\e813";
}

.jxd-del:before {
  content: "\e814";
}

.jxd-theme:before {
  content: "\e812";
}

.jxd-shortcut-key:before {
  content: "\e811";
}

.jxd-add:before {
  content: "\e809";
}

.jxd-all-border:before {
  content: "\e80a";
}

.jxd-no-border:before {
  content: "\e80b";
}

.jxd-left-border:before {
  content: "\e80c";
}

.jxd-right-border:before {
  content: "\e80d";
}

.jxd-bottom-border:before {
  content: "\e80e";
}

.jxd-top-border:before {
  content: "\e80f";
}

.jxd-zindex-plus:before {
  content: "\e810";
}

.jxd-lock-status:before {
  content: "\e808";
}

.jxd-text-justify:before {
  content: "\e7c0";
}

.jxd-text-right:before {
  content: "\e7dc";
}

.jxd-text-left:before {
  content: "\e806";
}

.jxd-text-center:before {
  content: "\e807";
}

.jxd-fill:before {
  content: "\e805";
}

.jxd-italic:before {
  content: "\e804";
}

.jxd-underline:before {
  content: "\e801";
}

.jxd-line-through:before {
  content: "\e800";
}

.jxd-radius-single:before {
  content: "\e7f6";
}

.jxd-radius-all:before {
  content: "\e7f9";
}

.jxd-dataModal:before {
  content: "\e7fb";
}

.jxd-tool-align-left:before {
  content: "\e7ef";
}

.jxd-color:before {
  content: "\e7f4";
}

.jxd-interactive:before {
  content: "\e7ed";
}

.jxd-project:before {
  content: "\e7e3";
}

.jxd-ele:before {
  content: "\e7e4";
}

.jxd-datasource:before {
  content: "\e7e5";
}

.jxd-event:before {
  content: "\e7e6";
}

.jxd-preview:before {
  content: "\e7e2";
}

.jxd-function:before {
  content: "\e7be";
}

.jxd-relate-ele:before {
  content: "\e602";
}

.jxd-relate-table:before {
  content: "\e603";
}

.jxd-style:before {
  content: "\e604";
}

.jxd-page:before {
  content: "\e7b9";
}

.jxd-show:before {
  content: "\e7c1";
}

.jxd-padding-right:before {
  content: "\e7c6";
}

.jxd-boundary:before {
  content: "\e7c8";
}

.jxd-align-left:before {
  content: "\e7cc";
}

.jxd-align-right:before {
  content: "\e7cd";
}

.jxd-align-center-alone:before {
  content: "\e7ce";
}

.jxd-vertical-center:before {
  content: "\e7cf";
}

.jxd-paste:before {
  content: "\e7d0";
}

.jxd-align-center:before {
  content: "\e7d1";
}

.jxd-vertical-distribution:before {
  content: "\e7d3";
}

.jxd-components:before {
  content: "\e7d4";
}

.jxd-align-bottom:before {
  content: "\e7d5";
}

.jxd-vertical-center-alone:before {
  content: "\e7d7";
}

.jxd-tool-align-right:before {
  content: "\e7d8";
}

.jxd-padding-left:before {
  content: "\e7d9";
}

.jxd-top-handler:before {
  content: "\e7da";
}

.jxd-align-top:before {
  content: "\e7dd";
}

.jxd-bottom-handler:before {
  content: "\e7df";
}

.jxd-box-shadow:before {
  content: "\e795";
}

.jxd-same-size:before {
  content: "\e762";
}

.jxd-table-synchro:before {
  content: "\e764";
}

.jxd-previous:before {
  content: "\e766";
}

.jxd-zoom-plus:before {
  content: "\e768";
}

.jxd-same-width:before {
  content: "\e76c";
}

.jxd-copy:before {
  content: "\e76d";
}

.jxd-publish:before {
  content: "\e76e";
}

.jxd-next:before {
  content: "\e770";
}

.jxd-workflow:before {
  content: "\e771";
}

.jxd-same-height:before {
  content: "\e773";
}

.jxd-format:before {
  content: "\e775";
}

.jxd-top:before {
  content: "\e776";
}

.jxd-bold:before {
  content: "\e779";
}

.jxd-tool-vertical-center:before {
  content: "\e77a";
}

.jxd-ruler:before {
  content: "\e77b";
}

.jxd-tool-align-center:before {
  content: "\e77c";
}

.jxd-tool-align-bottom:before {
  content: "\e77d";
}

.jxd-traverse:before {
  content: "\e77e";
}

.jxd-tool-align-top:before {
  content: "\e780";
}

.jxd-console-bottom:before {
  content: "\e785";
}

.jxd-right:before {
  content: "\e786";
}

.jxd-module:before {
  content: "\e787";
}

.jxd-clear:before {
  content: "\e78c";
}

.jxd-right-float-hide:before {
  content: "\e791";
}

.jxd-zoom-reduce:before {
  content: "\e794";
}

.jxd-padding-top:before {
  content: "\e796";
}

.jxd-lock:before {
  content: "\e798";
}

.jxd-move-top:before {
  content: "\e799";
}

.jxd-search:before {
  content: "\e79a";
}

.jxd-opacity:before {
  content: "\e79b";
}

.jxd-fill-color:before {
  content: "\e79c";
}

.jxd-move-bottom:before {
  content: "\e79d";
}

.jxd-closed-brackets:before {
  content: "\e7a0";
}

.jxd-auxiliary:before {
  content: "\e7a1";
}

.jxd-padding:before {
  content: "\e7a4";
}

.jxd-border-color:before {
  content: "\e7aa";
}

.jxd-padding-bottom:before {
  content: "\e7ab";
}

.jxd-gridline:before {
  content: "\e7ad";
}

.jxd-no-color:before {
  content: "\e7b1";
}

.jxd-zindex-reduce:before {
  content: "\e7b5";
}

.jxd-project-setting:before {
  content: "\e7b6";
}

.jxd-css-custom:before {
  content: "\e7b7";
}

.jxd-program:before {
  content: "\e7b8";
}

