@font-face {
  font-family: "jxdAxe"; /* Project id 2399844 */
  src: url('iconfont.eot?t=1665968427109'); /* IE9 */
  src: url('iconfont.eot?t=1665968427109#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1665968427109') format('woff2'),
       url('iconfont.woff?t=1665968427109') format('woff'),
       url('iconfont.ttf?t=1665968427109') format('truetype'),
       url('iconfont.svg?t=1665968427109#jxdAxe') format('svg');
}

.jxdAxe {
  font-family: "jxdAxe" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.axe-youcemianban_jiaohu_qiehuan:before {
  content: "\e603";
}

.axe-axe-popconfirm-logo-close:before {
  content: "\e613";
}

.axe-axe-popconfirm-logo:before {
  content: "\e610";
}

.axe-axe-popconfirm-logo-active:before {
  content: "\e611";
}

.axe-six-dot:before {
  content: "\e600";
}

.axe-straw:before {
  content: "\e640";
}

.axe-grid-twoColumn:before {
  content: "\e643";
}

.axe-layout-lr:before {
  content: "\e644";
}

.axe-layout-tb:before {
  content: "\e645";
}

.axe-grid-oneColumn:before {
  content: "\e646";
}

.axe-grid-threeColumn:before {
  content: "\e647";
}

.axe-grid-fourColumn:before {
  content: "\e648";
}

.axe-grid-custom:before {
  content: "\e649";
}

.axe-loading:before {
  content: "\e669";
}

.axe-primary:before {
  content: "\e8a7";
}

.axe-remove-all:before {
  content: "\e8a1";
}

.axe-console-warning:before {
  content: "\e630";
}

.axe-publish-loading:before {
  content: "\e631";
}

.axe-publish-waiting:before {
  content: "\e632";
}

.axe-event-tip-success:before {
  content: "\e633";
}

.axe-event-tip-error:before {
  content: "\e634";
}

.axe-file-upload-excel:before {
  content: "\e88e";
}

.axe-file-upload-text:before {
  content: "\e88f";
}

.axe-file-upload-image:before {
  content: "\e890";
}

.axe-file-upload-audio:before {
  content: "\e891";
}

.axe-file-upload-html:before {
  content: "\e892";
}

.axe-param-delete:before {
  content: "\e7fa";
}

.axe-input-close:before {
  content: "\e7fd";
}

.axe-public-help:before {
  content: "\e87e";
}

.axe-add:before {
  content: "\e81d";
}

.axe-delete:before {
  content: "\e81e";
}

.axe-zoom:before {
  content: "\e872";
}

.axe-icon-return:before {
  content: "\e868";
}

.axe-icon_fold_all:before {
  content: "\e867";
}

.axe-icon_fold:before {
  content: "\e85e";
}

.axe-icon_extend:before {
  content: "\e85f";
}

.axe-icon_location:before {
  content: "\e860";
}

.axe-create-web:before {
  content: "\e84e";
}

.axe-create-mobile:before {
  content: "\e84f";
}

.axe-component-setting:before {
  content: "\e819";
}

.axe-component-base:before {
  content: "\e83d";
}

.axe-component-chart:before {
  content: "\e83e";
}

.axe-component-senior:before {
  content: "\e83f";
}

.axe-component-custom:before {
  content: "\e840";
}

.axe-component-common:before {
  content: "\e841";
}

.axe-component-more:before {
  content: "\e842";
}

.axe-mainPanel-search:before {
  content: "\e830";
}

.axe-dataModel:before {
  content: "\e7ea";
}

.axe-welcome-publish:before {
  content: "\e82e";
}

.axe-help-center:before {
  content: "\e80f";
}

.axe-form-item-select:before {
  content: "\e7fb";
}

.axe-form-item:before {
  content: "\e7fc";
}

.axe-basic-help:before {
  content: "\e7d9";
}

.axe-serve-unconfig:before {
  content: "\e75f";
}

.axe-serve-config:before {
  content: "\e760";
}

.axe-user-serve:before {
  content: "\e761";
}

.axe-right-copy:before {
  content: "\e762";
}

.axe-right-lock:before {
  content: "\e763";
}

.axe-right-paste:before {
  content: "\e764";
}

.axe-right-hide:before {
  content: "\e765";
}

.axe-default-serve:before {
  content: "\e766";
}

.axe-more:before {
  content: "\e767";
}

.axe-align-1366:before {
  content: "\e9fe";
}

.axe-flow-condition-var:before {
  content: "\e74c";
}

.axe-empty-state:before {
  content: "\e74d";
}

.axe-width-adaptation:before {
  content: "\e749";
}

.axe-bpm-layout-h:before {
  content: "\e74a";
}

.axe-bpm-layout-v:before {
  content: "\e74b";
}

.axe-remarks-tip:before {
  content: "\e747";
}

.axe-remarks-preview:before {
  content: "\e748";
}

.axe-basic-unfold:before {
  content: "\e746";
}

.axe-linear-gradient:before {
  content: "\e745";
}

.axe-data-connection:before {
  content: "\e743";
}

.axe-mapping:before {
  content: "\e744";
}

.axe-setting:before {
  content: "\e742";
}

.axe-upload-template:before {
  content: "\e73f";
}

.axe-upload-component:before {
  content: "\e740";
}

.axe-custom-default-cover:before {
  content: "\e741";
}

.axe-copy:before {
  content: "\e73e";
}

.axe-refresh:before {
  content: "\e73c";
}

.axe-check:before {
  content: "\e73d";
}

.axe-shift:before {
  content: "\e73b";
}

.axe-info-circle:before {
  content: "\e73a";
}

.axe-view-horizontal:before {
  content: "\e738";
}

.axe-view-vertical:before {
  content: "\e739";
}

.axe-square-unfold-active:before {
  content: "\e735";
}

.axe-square-fold-active:before {
  content: "\e736";
}

.axe-square-brackets-active:before {
  content: "\e737";
}

.axe-participant-user:before {
  content: "\e732";
}

.axe-custom-variable:before {
  content: "\e733";
}

.axe-company:before {
  content: "\e734";
}

.axe-help:before {
  content: "\e72f";
}

.axe-head-unlock:before {
  content: "\e730";
}

.axe-head-lock:before {
  content: "\e731";
}

.axe-number-caret-top:before {
  content: "\e72d";
}

.axe-number-caret-bottom:before {
  content: "\e72e";
}

.axe-table-add:before {
  content: "\e72b";
}

.axe-table-del:before {
  content: "\e72c";
}

.axe-permission-set:before {
  content: "\e72a";
}

.axe-struct-lock:before {
  content: "\e719";
}

.axe-del:before {
  content: "\e727";
}

.axe-struct-show:before {
  content: "\e728";
}

.axe-struct-hide:before {
  content: "\e729";
}

.axe-layout-close:before {
  content: "\e716";
}

.axe-arrow-right:before {
  content: "\e9f5";
}

.axe-create-interactive:before {
  content: "\e9f6";
}

.axe-add-more-style:before {
  content: "\e9f7";
}

.axe-square-fold:before {
  content: "\e9f8";
}

.axe-square-brackets:before {
  content: "\e9f9";
}

.axe-square-unfold:before {
  content: "\e9fa";
}

.axe-interactive-style:before {
  content: "\e9fb";
}

.axe-interactive-shape:before {
  content: "\e9fc";
}

.axe-warning-triangle:before {
  content: "\e9fd";
}

.axe-number-caret:before {
  content: "\e925";
}

.axe-preview-create-page:before {
  content: "\e726";
}

.axe-align-center-h:before {
  content: "\e6be";
}

.axe-full-screen:before {
  content: "\e6c8";
}

.axe-zindex-top:before {
  content: "\e6c9";
}

.axe-preview:before {
  content: "\e6f5";
}

.axe-common-style:before {
  content: "\e6f6";
}

.axe-align-center-v:before {
  content: "\e6f7";
}

.axe-project-setting:before {
  content: "\e6f8";
}

.axe-same-size:before {
  content: "\e6f9";
}

.axe-operation-record:before {
  content: "\e6fa";
}

.axe-equal-size:before {
  content: "\e6fb";
}

.axe-align-top:before {
  content: "\e6fc";
}

.axe-data-setting:before {
  content: "\e6fd";
}

.axe-zindex-plus:before {
  content: "\e6fe";
}

.axe-align-bottom:before {
  content: "\e6ff";
}

.axe-publish:before {
  content: "\e700";
}

.axe-synchro:before {
  content: "\e702";
}

.axe-add-page:before {
  content: "\e703";
}

.axe-folder:before {
  content: "\e6aa";
}

.axe-project-settings:before {
  content: "\e6ab";
}

.axe-mobile:before {
  content: "\e6ac";
}

.axe-condition-icon-prefix:before {
  content: "\e6ad";
}

.axe-project-bySelf:before {
  content: "\e6ae";
}

.axe-large-arrow-bottom-filled:before {
  content: "\e6af";
}

.axe-close:before {
  content: "\e708";
}

.axe-dialog-close:before {
  content: "\e709";
}

.axe-datasource:before {
  content: "\e70a";
}

.axe-microApp:before {
  content: "\e70b";
}

.axe-page:before {
  content: "\e70c";
}

.axe-select-popover:before {
  content: "\e70d";
}

.axe-right-circle:before {
  content: "\e70e";
}

.axe-arrow-bottom-filled:before {
  content: "\e70f";
}

.axe-edit:before {
  content: "\e710";
}

.axe-add-circle:before {
  content: "\e711";
}

.axe-arrow-right-filled:before {
  content: "\e712";
}

.axe-style-config:before {
  content: "\e713";
}

.axe-color-picker:before {
  content: "\e714";
}

.axe-search:before {
  content: "\e715";
}

.axe-drag-top:before {
  content: "\e717";
}

.axe-drag-bottom:before {
  content: "\e718";
}

.axe-restart-canvas:before {
  content: "\e71a";
}

.axe-plus:before {
  content: "\e71b";
}

.axe-warning-circle:before {
  content: "\e71c";
}

.axe-event-tip:before {
  content: "\e71d";
}

.axe-project-mobile:before {
  content: "\e71e";
}

.axe-color-panel:before {
  content: "\e71f";
}

.axe-workflow:before {
  content: "\e720";
}

.axe-arrow-bottom:before {
  content: "\e721";
}

.axe-select:before {
  content: "\e722";
}

.axe-error-circle:before {
  content: "\e723";
}

.axe-board-drag:before {
  content: "\e724";
}

.axe-math-function:before {
  content: "\e725";
}

.axe-font-bold:before {
  content: "\e6ca";
}

.axe-border-full:before {
  content: "\e6cb";
}

.axe-font-bold-active:before {
  content: "\e6cc";
}

.axe-layout-adaptive-height:before {
  content: "\e6cd";
}

.axe-border-independent:before {
  content: "\e6ce";
}

.axe-font-select-italic:before {
  content: "\e6cf";
}

.axe-position-fixed:before {
  content: "\e6d0";
}

.axe-font-select-del:before {
  content: "\e6d1";
}

.axe-align-center:before {
  content: "\e6d2";
}

.axe-font-select-underline:before {
  content: "\e6d3";
}

.axe-font-del:before {
  content: "\e6d4";
}

.axe-font-italics:before {
  content: "\e6d5";
}

.axe-jxd-position-top-right:before {
  content: "\e6d6";
}

.axe-align-right:before {
  content: "\e6d7";
}

.axe-lock:before {
  content: "\e6d8";
}

.axe-align-middle:before {
  content: "\e6d9";
}

.axe-position-top-left:before {
  content: "\e6db";
}

.axe-align-left:before {
  content: "\e6dc";
}

.axe-font-underline:before {
  content: "\e6de";
}

.axe-icon:before {
  content: "\e6df";
}

.axe-radius-independent:before {
  content: "\e6e0";
}

.axe-radius-visibility:before {
  content: "\e6e1";
}

.axe-fill-horizontal:before {
  content: "\e6e2";
}

.axe-radius-full:before {
  content: "\e6e3";
}

.axe-align-justify:before {
  content: "\e6e4";
}

.axe-float-center:before {
  content: "\e6e5";
}

.axe-float-right:before {
  content: "\e6e6";
}

.axe-border-visibility:before {
  content: "\e6e7";
}

.axe-float-left:before {
  content: "\e6e8";
}

.axe-float-top:before {
  content: "\e6e9";
}

.axe-fill-vertical:before {
  content: "\e6ea";
}

.axe-position-bottom-left:before {
  content: "\e6ec";
}

.axe-position-bottom-right:before {
  content: "\e6ed";
}

.axe-border-type:before {
  content: "\e6ee";
}

.axe-show:before {
  content: "\e6ef";
}

.axe-hide:before {
  content: "\e6f0";
}

.axe-data-config:before {
  content: "\e6f1";
}

.axe-padding-right:before {
  content: "\e6dd";
}

.axe-padding-bottom:before {
  content: "\e6eb";
}

.axe-padding-top:before {
  content: "\e6f2";
}

.axe-padding-left:before {
  content: "\e6f3";
}

.axe-unlock:before {
  content: "\e6f4";
}

.axe-basic-position:before {
  content: "\e6b0";
}

.axe-basic-left:before {
  content: "\e6b1";
}

.axe-basic-exit-full-screen:before {
  content: "\e6b2";
}

.axe-basic-down:before {
  content: "\e6b3";
}

.axe-basic-open:before {
  content: "\e6b4";
}

.axe-basic-save:before {
  content: "\e6b5";
}

.axe-basic-right:before {
  content: "\e6b6";
}

.axe-basic-bottom:before {
  content: "\e6b7";
}

.axe-basic-equal-width:before {
  content: "\e6b8";
}

.axe-basic-empty:before {
  content: "\e6b9";
}

.axe-basic-equal-height:before {
  content: "\e6ba";
}

.axe-basic-setting:before {
  content: "\e6bb";
}

.axe-basic-brush:before {
  content: "\e6bc";
}

