$international: (
        zh: (
                buttonWidth: 58px,
                paginationWidth:82px,
                addAndDelButtonWidth: auto,
                marginLeft: 66px,
                iconWidth: 25px,
                right: 0,
                buttonSearchWidth: 60px,
        ),
        en: (
                buttonWidth: auto,
                paginationWidth:88px,
                addAndDelButtonWidth: auto,
                marginLeft: 80px,
                iconWidth: 17px,
                right: -3px,
                buttonSearchWidth: auto,
        )
);
