@font-face {
  font-family: "lcdpFont"; /* Project id 2581866 */
  src: url('iconfont.eot?t=1642388243250'); /* IE9 */
  src: url('iconfont.eot?t=1642388243250#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1642388243250') format('woff2'),
       url('iconfont.woff?t=1642388243250') format('woff'),
       url('iconfont.ttf?t=1642388243250') format('truetype'),
       url('iconfont.svg?t=1642388243250#lcdpFont') format('svg');
}

.lcdpFont {
  font-family: "lcdpFont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lcdp_morenyangshi_xiazai:before {
  content: "\e894";
}

.lcdp_morenyangshi_shexiangtou:before {
  content: "\e891";
}

.lcdp_morenyangshi_shangchuanshibaitishi:before {
  content: "\e892";
}

.lcdp_morenyangshi_wenbenlei:before {
  content: "\e893";
}

.lcdp_shangchuan:before {
  content: "\e885";
}

.lcdp_a-gongzuoliu_danyiwangguanbohui:before {
  content: "\e887";
}

.lcdp_a-gongzuoliu_binghangwangguanbohui:before {
  content: "\e888";
}

.lcdp_a-gongzuoliu_duoluwangguanbohui:before {
  content: "\e889";
}

.lcdp_gongzuoliu_kaishi-24:before {
  content: "\e881";
}

.lcdp_gongzuoliu_jieshu-25:before {
  content: "\e882";
}

.lcdp_a-gongzuoliu_danyiwangguanweiwancheng:before {
  content: "\e877";
}

.lcdp_a-gongzuoliu_fuwuzujianweiwancheng:before {
  content: "\e878";
}

.lcdp_a-gongzuoliu_duoluwangguanweiwancheng:before {
  content: "\e879";
}

.lcdp_a-gongzuoliu_binghangwangguanweiwancheng:before {
  content: "\e87a";
}

.lcdp_a-gongzuoliu_ziliuchenghuiqianweiwancheng:before {
  content: "\e87b";
}

.lcdp_a-gongzuoliu_waibuziliuchengweiwancheng:before {
  content: "\e87c";
}

.lcdp_a-gongzuoliu_rengonghuodongweiwancheng:before {
  content: "\e87d";
}

.lcdp_a-gongzuoliu_jieshourenwuweiwancheng:before {
  content: "\e87e";
}

.lcdp_a-gongzuoliu_duorenhuiqianweiwancheng:before {
  content: "\e87f";
}

.lcdp_a-gongzuoliu_dongtaijiedianweiwancheng:before {
  content: "\e880";
}

.lcdp_a-gongzuoliu_danyiwangguanwancheng:before {
  content: "\e876";
}

.lcdp_a-gongzuoliu_rengonghuodongwancheng:before {
  content: "\e86d";
}

.lcdp_a-gongzuoliu_duoluwangguanwancheng:before {
  content: "\e86e";
}

.lcdp_a-gongzuoliu_jieshourenwuwancheng:before {
  content: "\e86f";
}

.lcdp_a-gongzuoliu_dongtaijiedianwancheng:before {
  content: "\e870";
}

.lcdp_a-gongzuoliu_ziliuchenghuiqianwancheng:before {
  content: "\e871";
}

.lcdp_a-gongzuoliu_fuwuzujianwancheng:before {
  content: "\e872";
}

.lcdp_a-gongzuoliu_duorenhuiqianwancheng:before {
  content: "\e873";
}

.lcdp_a-gongzuoliu_waibuziliuchengwancheng:before {
  content: "\e874";
}

.lcdp_a-gongzuoliu_binghangwangguanwancheng:before {
  content: "\e875";
}

.lcdp_a-gongzuoliu_jieshourenwujinhangzhong:before {
  content: "\e86b";
}

.lcdp_a-gongzuoliu_dongtaijiedianjinhangzhong:before {
  content: "\e86c";
}

.lcdp_a-gongzuoliu_fuwuzujianjinhangzhong:before {
  content: "\e867";
}

.lcdp_a-gongzuoliu_rengonghuodongjinhangzhong:before {
  content: "\e868";
}

.lcdp_a-gongzuoliu_waibuziliuchengjinhangzhong:before {
  content: "\e869";
}

.lcdp_a-gongzuoliu_duorenhuiqianjinhangzhong:before {
  content: "\e86a";
}

.lcdp_a-gongzuoliu_dongtaijiedianguaqi:before {
  content: "\e865";
}

.lcdp_a-gongzuoliu_ziliuchenghuiqianjinhangzhong:before {
  content: "\e866";
}

.lcdp_a-gongzuoliu_jieshourenwuguaqi:before {
  content: "\e85f";
}

.lcdp_a-gongzuoliu_waibuziliuchengguaqi:before {
  content: "\e860";
}

.lcdp_a-gongzuoliu_ziliuchenghuiqianguaqi:before {
  content: "\e861";
}

.lcdp_a-gongzuoliu_rengonghuodongguaqi:before {
  content: "\e862";
}

.lcdp_a-gongzuoliu_fuwuzujianguaqi:before {
  content: "\e863";
}

.lcdp_a-gongzuoliu_duorenhuiqianguaqi:before {
  content: "\e864";
}

.lcdp_a-gongzuoliu_dongtaijiedianyichang:before {
  content: "\e85e";
}

.lcdp_a-gongzuoliu_waibuziliuchengyichang:before {
  content: "\e85a";
}

.lcdp_a-gongzuoliu_jieshourenwuyichang:before {
  content: "\e85b";
}

.lcdp_a-gongzuoliu_fuwuzujianyichang:before {
  content: "\e85c";
}

.lcdp_a-gongzuoliu_ziliuchenghuiqianyichang:before {
  content: "\e85d";
}

.lcdp_a-gongzuoliu_rengonghuodongyichang:before {
  content: "\e858";
}

.lcdp_a-gongzuoliu_duorenhuiqianyichang:before {
  content: "\e859";
}

.lcdp_a-gongzuoliu_dongtaijiedianbohui:before {
  content: "\e857";
}

.lcdp_a-gongzuoliu_fuwuzujianbohui:before {
  content: "\e851";
}

.lcdp_a-gongzuoliu_waibuziliuchengbohui:before {
  content: "\e852";
}

.lcdp_a-gongzuoliu_rengonghuodongbohui:before {
  content: "\e853";
}

.lcdp_a-gongzuoliu_jieshourenwubohui:before {
  content: "\e854";
}

.lcdp_a-gongzuoliu_duorenhuiqianbohui:before {
  content: "\e855";
}

.lcdp_a-gongzuoliu_ziliuchenghuiqianbohui:before {
  content: "\e856";
}

.lcdp_gongzuoliu_fanhuijiantou:before {
  content: "\e838";
}

.lcdp_gongzuoliu_liuchengjilu:before {
  content: "\e830";
}

.lcdp_gongzuoliu_liuchengtu:before {
  content: "\e831";
}

.lcdp_welConfig-small:before {
  content: "\e604";
}

.lcdp_welConfig-big:before {
  content: "\e603";
}

.lcdp_help:before {
  content: "\e601";
}

.lcdp_upgrade_log:before {
  content: "\e602";
}

.lcdp_zhuanyi:before {
  content: "\e600";
}

.lcdp_upload:before {
  content: "\e780";
}

.lcdp_add:before {
  content: "\e781";
}

.lcdp_duihao:before {
  content: "\e782";
}

.lcdp_delete:before {
  content: "\e783";
}

.lcdp_default_red:before {
  content: "\e77f";
}

.lcdp_default_green:before {
  content: "\e77b";
}

.lcdp_default_purple:before {
  content: "\e77c";
}

.lcdp_default_blue:before {
  content: "\e77d";
}

.lcdp_default_yellow:before {
  content: "\e77e";
}

.lcdp_check_password:before {
  content: "\e778";
}

.lcdp_username:before {
  content: "\e779";
}

.lcdp_password:before {
  content: "\e77a";
}

.lcdp_city:before {
  content: "\e754";
}

.lcdp_module:before {
  content: "\e755";
}

.lcdp_navigation:before {
  content: "\e756";
}

.lcdp_kuaijierukou_guanli1:before {
  content: "\e757";
}

.lcdp_kuaijierukou_renyuan3:before {
  content: "\e758";
}

.lcdp_kuaijierukou_hulianwang2:before {
  content: "\e759";
}

.lcdp_kuaijierukou_sanwei:before {
  content: "\e75a";
}

.lcdp_kuaijierukou_quanxian:before {
  content: "\e75b";
}

.lcdp_kuaijierukou_hulianwang:before {
  content: "\e75c";
}

.lcdp_kuaijierukou_hulianwang3:before {
  content: "\e75d";
}

.lcdp_kuaijierukou_hulianwang1:before {
  content: "\e75e";
}

.lcdp_kuaijierukou_bianji:before {
  content: "\e75f";
}

.lcdp_kuaijierukou_shuju:before {
  content: "\e760";
}

.lcdp_kuaijierukou_renyuan2:before {
  content: "\e761";
}

.lcdp_kuaijierukou_wenjian1:before {
  content: "\e762";
}

.lcdp_kuaijierukou_wendang3:before {
  content: "\e763";
}

.lcdp_kuaijierukou_wenjian2:before {
  content: "\e764";
}

.lcdp_kuaijierukou_renyuan:before {
  content: "\e765";
}

.lcdp_kuaijierukou_renyuan1:before {
  content: "\e766";
}

.lcdp_kuaijierukou_xianshiqi:before {
  content: "\e767";
}

.lcdp_kuaijierukou_shouye:before {
  content: "\e768";
}

.lcdp_kuaijierukou_wendang1:before {
  content: "\e769";
}

.lcdp_kuaijierukou_zuzhijigou-16:before {
  content: "\e76a";
}

.lcdp_kuaijierukou_wendang2:before {
  content: "\e76b";
}

.lcdp_kuaijierukou_wendang4:before {
  content: "\e76c";
}

.lcdp_kuaijierukou_yonghu-29:before {
  content: "\e76d";
}

.lcdp_kuaijierukou_yonghu2:before {
  content: "\e76e";
}

.lcdp_kuaijierukou_tuisongkaiguan:before {
  content: "\e76f";
}

.lcdp_kuaijierukou_zuzhijigou1:before {
  content: "\e770";
}

.lcdp_kuaijierukou_wendangshezhi:before {
  content: "\e771";
}

.lcdp_kuaijierukou_yingyong:before {
  content: "\e772";
}

.lcdp_kuaijierukou_zuzhijigou-43:before {
  content: "\e773";
}

.lcdp_kuaijierukou_sanweizuobiao:before {
  content: "\e774";
}

.lcdp_kuaijierukou_zhengjian:before {
  content: "\e775";
}

.lcdp_kuaijierukou_shezhi:before {
  content: "\e776";
}

.lcdp_kuaijierukou_zidian:before {
  content: "\e777";
}

.lcdp_shouye_chakanjiantou:before {
  content: "\e747";
}

.lcdp_shouye_logo:before {
  content: "\e748";
}

.lcdp_shouye_tongzhigonggao:before {
  content: "\e749";
}

.lcdp_shouye_daibanrenwu:before {
  content: "\e74a";
}

.lcdp_shouye_kuaijierukou:before {
  content: "\e74b";
}

.lcdp_shouye_yuelijiantou:before {
  content: "\e74c";
}

.lcdp_doneTask:before {
  content: "\e74d";
}

.lcdp_shouye_shaixuan:before {
  content: "\e74e";
}

.lcdp_todoTask:before {
  content: "\e74f";
}

.lcdp_urgeTask:before {
  content: "\e750";
}

.lcdp_shouye_jiahao:before {
  content: "\e751";
}

.lcdp_ccTask:before {
  content: "\e752";
}

.lcdp_shouye_zhankaishouqi:before {
  content: "\e753";
}

.lcdp_shouye_yewuyonghupingtai-copy:before {
  content: "\e784";
}

.lcdp_shouye_yewuyonghupingtai-copy-copy:before {
  content: "\e785";
}

.lcdp_shouye_kaifapingtai:before {
  content: "\e745";
}

.lcdp_shouye_yewuyonghupingtai:before {
  content: "\e746";
}

.lcdp_shouye_yewuyonghupingtai-copy-copy-copy:before {
  content: "\e786";
}

